@use '../1-settings/variables' as *;
//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: $grid-base;
    margin-top: $grid-base * 1.5;

    
}