@use '../1-settings/'as *;
@use '../2-tools/'as *;


.site-contact {
    background: url('../assets/img/contact.jpeg') center/cover local;
    color: $color-white;
    position: relative;
    min-height: 100h;
    padding-top: 3rem;
    @include medium{
        background-attachment: fixed;
    }
    &__blackout {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__h2 {
        position: absolute;
    }
    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
}